---
layout: default
title: 参考
permalink: /collection/
icon: bookmark
type: navigator
---



<div class="page clearfix">
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        <ul>
			{% assign categories = site.references | group_by_exp: "item", "item.categories | first" %}
            {% for category in categories %}
			<h2 id="{{category.name}}">
				{{category.name}}
			</h2>
				{% for ref in category.items %}
				<li>
					<a class="title" href="{{ ref.url | prepend: site.baseurl }}">{{ ref.title }}</a>
				</li>
				{% endfor %}
			{% endfor %}
        </ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    列表
                </div>
                <ul id="content-side" class="content-ul">
                    {% for category in categories %}
						<li>
							<a data-scroll href="#{{category.name}}">
								{{ category.name }} ({{ category.size }})
							</a>
						</li>
					{% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
